@page
@model BookClub.App.UserPageModel
@{
    ViewData["Title"] = "UserPage";
}

<h2>UserPage</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

    <h1>Welcome @Model.userDetails.UserName</h1>
    <form asp-page-handler="OnGet" method="post">
        <input type="hidden" asp-for="userDetails.UserId" />
        <div class="form-group">
            <label asp-for="userDetails.UserName"></label>
            <input asp-for="userDetails.UserName" class="form-control" />
            <span class="text-danger" asp-validation-for="userDetails.UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="userDetails.UserSurname"></label>
            <input asp-for="userDetails.UserSurname" class="form-control" />
            <span class="text-danger" asp-validation-for="userDetails.UserSurname"></span>
        </div>
        <div class="form-group">
            <label asp-for="userDetails.UserEmail"></label>
            <input asp-for="userDetails.UserEmail" class="form-control" />
            <span class="text-danger" asp-validation-for="userDetails.UserEmail"></span>
        </div>
        <div class="form-group">
            <label asp-for="userDetails.Password"></label>
            <input asp-for="userDetails.Password" class="form-control" />
            <span class="text-danger" asp-validation-for="userDetails.Password"></span>
        </div>
        <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
    <a class="btn btn-primary" style="margin:10px 10px 0px 0px "asp-page="UserPage" asp-page-handler="Logout">Logout</a>
    

</body>
</html>